.color-primary-0 { color: #3E13AF }	/* Main Primary color */
.color-secondary-1-0 { color: #00AB6F }	/* Main Secondary color (1) */
.color-secondary-2-0 { color: #E7003E }	/* Main Secondary color (2) */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(100% * calc(10/16));
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 1rem;
    text-align: center;
    min-width: 600px;
    min-height: 400px;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;    
}

h1 {
    font-size: 3rem;
}

.game-container {
    min-width: 1000px;
    min-height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: gray;
}

.grid-container {
    display: flex;
    width: 30rem;
    height: 30rem;
    font-size: 1rem;
    flex-flow: row wrap;
    outline: 3rem solid #3E13AF;
    margin-bottom: 3rem;
}

.grid-container .grid-cell {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    transition: all 0.5s 0.5s;
}

.grid-container .grid-cell:hover {
    border: 1px solid #00AB6F;
}

.grid-cell.ship {
    background-color: #00AB6F;
}

.grid-cell.debris {
    background-color: #f10;    
}

.grid-cell.missed {
    background-color: dimgray;    
}

#populate {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
}
